body, html {
	height: 100%;
	font-family: sans-serif;
}

a:hover {
	text-decoration: none;
}

h1,h2 {margin: 20px;}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  width: 100%;
  text-align: center;
}

table td, table th {
  padding-left: 10px;
}

